n8n-workflow-ai-video-posting.json
{"nodes":[{"parameters":{"functionCode":"const fs = require('fs');

fs.writeFileSync('output.mp4', input); // Save the video file\n\nreturn { output: 'Video saved successfully!' };"},"name":"Generated Video","type":"n8n-nodes-base.function","typeVersion":1},{"parameters":{"url":"https://example.com/video.mp4","responseFormat":"file"},"name":"Video Generation API","type":"n8n-nodes-base.httpRequest","typeVersion":1},{"parameters":{"channelId":"your_channel_id","videoFile":"{{$node[\"Generated Video\"].json[\"output\"]}}"},"name":"Post Video","type":"n8n-nodes-base.youtube","typeVersion":1},{"name":"Start","type":"n8n-nodes-base.start","typeVersion":1},{"parameters":{"workflowId":"73066b54-589e-4f39-aece-bb3bab21737c"},"name":"Trigger Workflow","type":"n8n-nodes-base.wait","typeVersion":1}],"connections":{"Start":{"main":[[{"node":"Video Generation API","type":"main","index":0}]]},"Video Generation API":{"main":[[{"node":"Generated Video","type":"main","index":0}]]},"Generated Video":{"main":[[{"node":"Post Video","type":"main","index":0}]]}}}